<!DOCTYPE html>
<html>
  <head>
    <title>Spark Template</title>
    <!-- Choose bootstrap or make custom css from scratch with normalize.css.
    If project uses bootstrap make sure to delete normalize.css file -->

    <!-- <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
